<!DOCTYPE html>
<html>
  <head>
    <title>PersonalCRM</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  </head>

  <body class="bg-gray-100">
    <header class="bg-white shadow-md">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex justify-between items-center py-4">
          <div class="flex items-center">
            <h1 class="text-2xl font-bold text-blue-600">PersonalCRM</h1>
          </div>
          <div class="flex items-center space-x-4">
            <% if current_user&.admin? %>
              <%= link_to 'User Management', admin_users_path, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
            <% else %>
              <%= link_to "Admin Login", new_user_session_path(admin: true), class: "bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded" %>
            <% end %>
          </div>
        </div>
      </div>
    </header>

    <main class="container mx-auto mt-6 px-4">
      <%= yield %>
    </main>
  </body>
</html>
